html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #fdf6f0;
    color: #333;
}
html {
    scroll-behavior: smooth;
}
@media (max-width: 600px) {
    .outfit-card {
        width: 90%;
    }
}
.outfit-card img {
    border-radius: 0;
}

.suggestion-section {
    padding: 50px 30px;
    background-color: #fffdf5;
    text-align: center;
}

.suggestion-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.outfit-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    padding: 20px;
}

.outfit-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 280px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.outfit-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.outfit-card img {
   width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
    border-radius: 12px;
}
.outfit-card:hover img {
    transform: scale(1.02);
    transition: transform 0.3s ease;

}

.btn-center {
    display: flex;
    justify-content: center;
}

.back-btn {
    text-decoration: none;
    padding: 12px 25px;
    background-color: #ffb300;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #ffa000;
}
